  #loading {
        display: none;
        font-weight: bold;
        color: blue;
      }
      #error {
        color: red;
        font-weight: bold;
      }
      #output img {
        margin: 5px;
        width: 150px;
        height: auto;
      }